{% extends 'main/base.html' %}
{% load static %}


{% block css_footer %}
<link rel="stylesheet" href="{% static 'deps/css/my_footer_css.css' %}">
{% endblock css_footer %}

{% block content %}
<div class="my-5 pt-5 px-2 pb-2 bg-white custom-shadow rounded">
    <h2 class="m-2"><strong>{{ content }}</strong></h2>
    <p class="m-2" style="font-size: 1.2rem;">Добро пожаловать на страницу нашего магазина!
        Здесь вы найдете широкий ассортимент товаров, которые помогут преобразить ваш сад в уникальное и комфортное
        пространство.
        Наша главная цель - предоставить вам лучшие решения для обустройства вашего сада, чтобы вы могли наслаждаться
        каждым моментом жизни на свежем воздухе.
        В нашем магазине вы найдете разнообразные предметы садовой мебели. Также у нас представлены стильные и
        функциональные элементы декора, такие как беседки, гамаки,
        качели и многое другое.
        Мы стремимся сделать процесс покупки максимально удобным и приятным для вас. Мы также
        предлагаем гибкую систему скидок и регулярные акции, чтобы сделать ваш шопинг еще более выгодным.
        Не упустите возможность преобразить свой сад и создать уникальное пространство для отдыха и развлечений.
        Заходите на наш сайт и наслаждайтесь комфортом и стилем каждый день!</p>
</div>
{% endblock content %}

{% block footer %}
{% include 'main/includes/footer.html' %}
{% endblock footer %}
